<div class="container">
  <div class="row justify-content-center">
    <h1>☆フォロワー一覧☆</h1>
  </div>
  <div class="row justify-content-center">
    <% if @followers.exists? %>
      <table class= "table">
        <tr>
          <th></th>
          <th>名前</th>
          <th>性別</th>
        </tr>
        <% @followers.each do |follower| %>
        <tr>
          <td><%= link_to image_tag(follower.get_profile_image(100,100)), follower_path(follower.id) %></td>
          <td><%= follower.nickname %></td>
          <td><%= follower.sex %></td>
        </tr>
        <% end %>
      </table>
    <% else %>
      <h4>ユーザーはいません</h4>
    <% end %>
  </div>
</div>
