// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.header_title {
  //font-family: "Nikukyu,sans-serif";
  font-family: 'Potta One', cursive;
  font-size: 200px;
}

.cover {
  height: 100%;
  width: 100%;
  display: table;
  background-image: url(/assets/tyoumiryoutop.jpg);
  background-color:rgba(255,255,255,0.4);
  background-blend-mode:lighten;
  background-size: 100% 100%;
}

.text-center {
  display: table-cell;
  vertical-align: middle;
}