<div class="container-fluid">
  <div class="row justify-content-center">
    <h1>調味料大全とは</h1>
  </div>
  <div class="row justify-content-center">
    <div class="text-center">
      <h4>色々な調味料の魅力や新しい味が発見出来るレビューサイト!<br>
        今まで味わった事がない新たな味覚に出会えるかも！<br>
        皆で共有し調味料業界を盛り上げよう！！<br>
        少しでも皆様のお役に立てたら嬉しいです！！！
      </h4>
    </div>
  </div>
</div>