<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <link href="https://fonts.googleapis.com/earlyaccess/nikukyu.css" rel="stylesheet/public/homes.scss">
    <title>調味料大全</title>
  </head>

  <body>
    <div class="cover align-middle">
      <div class="text-center">
        <h1 class="title mb-2">調味料大全</h1>
        <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post %>
    </div>
  </body>
</html>