<div class="container">
  <div class="row justify-content-center">
    <table class= "table">
      <tr>
        <th>商品画像</th>
        <th>商品名</th>
        <th>コメント</th>
        <th></th>
      </tr>
      <% @posts.each do |user_post| %>
      <tr>
        <td><%= image_tag user_post.item.image, size: "100x100" %></td>
        <td><%= user_post.item.name %></td>
        <td><%= user_post.comment %></td>
        <td><%= link_to "コメントを削除", admin_post_path(user_post.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-sm btn-danger" %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

