<div class="container">
  <div class="row justify-content-center">
    <h1>☆フォロー一覧☆</h1>
  </div>
  <div class="row justify-content-center">
    <% if @followings.exists? %>
      <% @followings.each do |following| %>
        <table class="table">
          <tr>
            <td><%= link_to image_tag(following.get_profile_image(100,100)), following_path(following.id) %></td>
            <td><%= following.nickname %></td>
            <td><%= following.sex %></td>
          </tr>
        </table>
      <% end %>
    <% else %>
      <h4>ユーザーはいません</h4>
    <% end %>
  </div>
</div>