<h1>マイページ</h1>
<h4>登録情報</h4><%= link_to "編集する", edit_user_path(@user.id), class: "btn btn-sm btn-success" %>
<%= render 'public/users/form', user: @user %>
<%= link_to "退会する", users_unsubscribe_path, class: "btn btn-sm btn-danger" %>
